.login-container {
  margin: auto;
  margin-top: 10%;
  width: 50rem;
  height: 30rem;
  border-radius: 0 1rem;
  background-color: var(--primary-1);
  display: flex;
}

.logo-header {
  color: var(--text-1);
  margin-left: 15%;
  margin-top: 25%;
}

.login-input {
  margin-bottom: 1rem;
  width: 70%;
  border: 1px solid var(--border);
  border-radius: 0 0.3rem;
  height: 1.75rem;
}

.login-input:focus {
  outline: none;
  border-color: var(--primary-2);
}

.login-button {
  border: none;
  background-color: var(--primary-2);
  color: white;
  font-size: medium;
  border-radius: 0 0.25rem;
  height: 1.75rem;
  width: 30%;
  display: inline-block;
  margin-right: 3rem;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:focus {
  outline: none;
}

.login-form {
  margin-left: 15%;
}
